@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<p>User Name: @ViewBag.UserName</p>
<p>User ID: @ViewBag.UserId</p>
<p>Use this page to detail your site's privacy policy.</p>
