<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <!-- Email -->
  <label>Email:</label>
  <input type="email" formControlName="email" />
  <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid" style="color:red;">
    <small *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</small>
    <small *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format.</small>
      <small *ngIf="loginForm.get('email')?.errors?.['noSpaces']">
      Email cannot contain spaces.
      </small>
  </div>
  <br />
  <!-- Password -->
  <label>Password:</label>
  <input type="password" formControlName="password" />
  <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" style="color:red;">
    <small *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</small>
    <small *ngIf="loginForm.get('password')?.errors?.['minlength']">
      Password must be at least 6 characters.
    </small>
  </div>
  <br />
  <!--Mobile number-->
  <label>Number</label>
<input type="number" formControlName="number"/>
<div *ngIf="loginForm.get('number')?.hasError('invalidMobile')" style="color: red;">
  Mobile number must be exactly 10 digits.
</div>
  <br>
 <select formControlName="country">
  <option value="IN">India</option>
  <option value="US">United States</option>
</select>
<input formControlName="postalCode" placeholder="Enter PIN/ZIP" />

<div *ngIf="loginForm.get('postalCode')?.hasError('invalidPostalCode')" style="color: red;">
  Invalid {{ loginForm.get('country')?.value === 'IN' ? 'PIN' : 'ZIP' }} code.
</div>
  <!-- Submit -->
  <button type="submit" [disabled]="loginForm.invalid">Login</button>
</form>